MVP: Recommendation System
   - Item based. 
   - Model based. 
   - Collaborative. 
   - Evaluate with RMSE. 
   - Input is a good/bad movie.
   
   Content based recommendations:
    - Items are the movies.
    - Attributes can be score distribution, genome tags,

In [2]:
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in /anaconda3/lib/python3.7/site-packages (2.2.0)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from tmdbsimple) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->tmdbsimple) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->tmdbsimple) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->tmdbsimple) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->tmdbsimple) (2018.11.29)

In [2]:
import requests
import pandas as pd
import time
import tmdbsimple as tmdb

In [3]:
from tqdm import tqdm_notebook as tqdm

In [4]:
pd.set_option('display.max_columns',300)
pd.set_option('display.max_rows',300)

In [5]:
tmdb.API_KEY = '609bfa19cbc6d10450102037baa49767'

In [6]:
r = requests.get('http://www.omdbapi.com/?type=tvEpisode&i=tt0105643&apikey=1dcae6cc')
r

In [53]:
r.status_code

200

In [100]:
print(type(r.text))
type(r.text)

<class 'str'>

str

In [ ]:
url = 'http://www.omdbapi.com/?i={}&apikey=1dcae6cc'.format()

In [113]:
r = requests.get('https://api.themoviedb.org/3/movie/' + str(23) + '?api_key=609bfa19cbc6d10450102037baa49767')
r.text

'{"status_code":34,"status_message":"The resource you requested could not be found."}'

In [64]:
test_movie = tmdb.Movies('latest')
test_movie

In [65]:
resp = test_movie.info()

In [66]:
type(resp)

dict

In [67]:
resp

{'adult': False,
 'backdrop_path': None,
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [],
 'homepage': None,
 'id': 614500,
 'imdb_id': 'tt0015462',
 'original_language': 'en',
 'original_title': 'Virginian Outcast',
 'overview': '',
 'popularity': 0.0,
 'poster_path': None,
 'production_companies': [],
 'production_countries': [],
 'release_date': '',
 'revenue': 0,
 'runtime': None,
 'spoken_languages': [],
 'status': 'Released',
 'tagline': '',
 'title': 'Virginian Outcast',
 'video': False,
 'vote_average': 0.0,
 'vote_count': 0}

In [ ]:
614497

In [8]:
from requests.packages.urllib3.util.retry import Retry

In [9]:
def tmdb_getter(start,stop):
    movie_list = []
    for movie in tqdm(range(start,stop)):
        r = requests.get('https://api.themoviedb.org/3/movie/' + str(movie) + '?api_key=609bfa19cbc6d10450102037baa49767')
        if r.status_code == 200:
            info = r.json()
            movie_list.append(info)
            time.sleep(.25)
        elif r.status_code == 429:
            print('Connection broken - wait')
            time.sleep(10)
            continue
        else:
            continue
        
    return movie_list

In [148]:
list_10k = tmdb_getter(1,10001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

NameError: name 'Retry' is not defined

In [149]:
len(list_10k)

4768

In [143]:
list_10to20 = tmdb_getter(10001,20001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [144]:
len(list_10to20)

6647

In [156]:
list_20to50 = tmdb_getter(20001,50001)

HBox(children=(IntProgress(value=0, max=30000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [160]:
len(list_20to50)

22321

In [161]:
list_50to60 = tmdb_getter(50001,60001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [170]:
list_50to60[6]

{'adult': False,
 'backdrop_path': '/fcSzcMFx40gSr19cNdPz0G7YIs9.jpg',
 'belongs_to_collection': None,
 'budget': 5500000,
 'genres': [{'id': 28, 'name': 'Action'}, {'id': 16, 'name': 'Animation'}],
 'homepage': None,
 'id': 50007,
 'imdb_id': 'tt0446701',
 'original_language': 'ja',
 'original_title': 'Gisaku',
 'overview': 'The adventures of a young Japanese samurai named Yohei who visited Spain in the 17th century, in a story loosely taking its inspiration from the travels of historic samurai Hasekura. Yohei survived in hiding to the present day due to magical powers, and accomplishes many adventures in modern Spain as a superhero.',
 'popularity': 0.787,
 'poster_path': '/fFKP17sosqcZreGndEOVm4cC6S9.jpg',
 'production_companies': [{'id': 3631,
   'logo_path': None,
   'name': 'Filmax',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'ES', 'name': 'Spain'}],
 'release_date': '2005-03-04',
 'revenue': 0,
 'runtime': 78,
 'spoken_languages': [{'iso_639_1': 'es', 'name': 'Español'},
  {'iso_639_1': 'en', 'name': 'English'},
  {'iso_639_1': 'ja', 'name': '日本語'}],
 'status': 'Released',
 'tagline': 'A legendary key. A samurai lost in time. A world to save.',
 'title': 'Gisaku',
 'video': False,
 'vote_average': 5.0,
 'vote_count': 3}

In [171]:
list_60to135 = tmdb_getter(60001,135001)

HBox(children=(IntProgress(value=0, max=75000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [172]:
len(list_60to135)

47108

In [174]:
list_135to145 = tmdb_getter(135001,145001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [175]:
list_145to220 = tmdb_getter(145001,220001)

HBox(children=(IntProgress(value=0, max=75000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [176]:
list_220to240 = tmdb_getter(220001,240001)

HBox(children=(IntProgress(value=0, max=20000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [177]:
list_240to250 = tmdb_getter(240001,250001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [178]:
len(list_240to250)

5176

In [179]:
list_250to325 = tmdb_getter(250001,325001)

HBox(children=(IntProgress(value=0, max=75000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [180]:
list_320to335 = tmdb_getter(325001,335001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [182]:
list_320to335[0]

{'adult': False,
 'backdrop_path': None,
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [],
 'homepage': None,
 'id': 325001,
 'imdb_id': None,
 'original_language': 'en',
 'original_title': 'Captain',
 'overview': "Steve, mid-thirties and an unpublished author, had taken a writing class with Carl Johnson an award-winning novelist. Carl sees the potential in Steve. In writing exercises, he stuns his classmates with his wit and use of language but Carl wants more. Carl and his wife Trish are planning a trip and ask Steve if he could take care of their Chihuahua Captain. Steve says yes without hesitation, thinking it will be a good opportunity to re-establish his relationship with Carl, who three months earlier, kicked him out of class and wouldn't be allowed back until he made a commitment to becoming the best writer he could be.",
 'popularity': 0.6,
 'poster_path': None,
 'production_companies': [],
 'production_countries': [],
 'release_date': '2015-02-23',
 'revenue': 0,
 'runtime': None,
 'spoken_languages': [],
 'status': 'Released',
 'tagline': '',
 'title': 'Captain',
 'video': False,
 'vote_average': 0.0,
 'vote_count': 0}

In [191]:
list_10k.extend(list_10to20)
list_10k.extend(list_20to50)
list_10k.extend(list_50to60)
list_10k.extend(list_60to135)
list_10k.extend(list_135to145)
list_10k.extend(list_145to220)
list_10k.extend(list_220to240)
list_10k.extend(list_240to250)
list_10k.extend(list_250to325)
list_10k.extend(list_320to335)

In [192]:
len(list_10k)

221949

In [33]:
df_335k = pd.DataFrame.from_dict(list_10k)

NameError: name 'list_10k' is not defined

In [24]:
df_335k.head()

NameError: name 'df_335k' is not defined

In [194]:
df_335k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221949 entries, 0 to 221948
Data columns (total 25 columns):
adult                    221949 non-null bool
backdrop_path            101898 non-null object
belongs_to_collection    9242 non-null object
budget                   221949 non-null int64
genres                   221949 non-null object
homepage                 23632 non-null object
id                       221949 non-null int64
imdb_id                  210466 non-null object
original_language        221949 non-null object
original_title           221949 non-null object
overview                 221948 non-null object
popularity               221949 non-null float64
poster_path              190233 non-null object
production_companies     221949 non-null object
production_countries     221949 non-null object
release_date             221949 non-null object
revenue                  221949 non-null int64
runtime                  168114 non-null float64
spoken_languages         221949 non-null object
status                   221949 non-null object
tagline                  221949 non-null object
title                    221949 non-null object
video                    221949 non-null bool
vote_average             221949 non-null float64
vote_count               221949 non-null int64
dtypes: bool(2), float64(3), int64(4), object(16)
memory usage: 39.4+ MB

In [195]:
df_335k.to_csv('335k.csv')

In [10]:
list_335to360 = tmdb_getter(335001,360001)

HBox(children=(IntProgress(value=0, max=25000), HTML(value='')))

In [25]:
list_335to360[0]

{'adult': False,
 'backdrop_path': None,
 'belongs_to_collection': None,
 'budget': 0,
 'genres': [],
 'homepage': None,
 'id': 335001,
 'imdb_id': '',
 'original_language': 'en',
 'original_title': 'HOH',
 'overview': '',
 'popularity': 0.6,
 'poster_path': '/wv9xhOfB9WHiiFCDxoiYAEm90Cy.jpg',
 'production_companies': [],
 'production_countries': [],
 'release_date': '2014-11-15',
 'revenue': 0,
 'runtime': 180,
 'spoken_languages': [],
 'status': 'Released',
 'tagline': '',
 'title': 'HOH',
 'video': False,
 'vote_average': 0.0,
 'vote_count': 0}

In [11]:
list_360to370 = tmdb_getter(360001,370001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

Connection broken - wait

In [12]:
list_370to380 = tmdb_getter(370001,380001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [13]:
list_380to455 = tmdb_getter(380001,455001)

HBox(children=(IntProgress(value=0, max=75000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [15]:
list_455to475 = tmdb_getter(455001,475001)

HBox(children=(IntProgress(value=0, max=20000), HTML(value='')))

In [16]:
list_475to485 = tmdb_getter(475001,485001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [18]:
list_485to495 = tmdb_getter(485001,495001)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [19]:
list_495to495 = tmdb_getter(495001,570001)

HBox(children=(IntProgress(value=0, max=75000), HTML(value='')))

Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait
Connection broken - wait

In [20]:
list_570to590 = tmdb_getter(570001,590001)

HBox(children=(IntProgress(value=0, max=20000), HTML(value='')))

In [22]:
list_590to615 = tmdb_getter(590001,615001)

HBox(children=(IntProgress(value=0, max=25000), HTML(value='')))

Connection broken - wait
Connection broken - wait

In [26]:
list_335to360.extend(list_360to370)

In [27]:
list_335to360.extend(list_370to380)
list_335to360.extend(list_380to455)
list_335to360.extend(list_455to475)
list_335to360.extend(list_475to485)

In [28]:
list_335to360.extend(list_485to495)
list_335to360.extend(list_495to495)
list_335to360.extend(list_570to590)
list_335to360.extend(list_590to615)

In [29]:
len(list_335to360)

247341

In [30]:
df_335_615k = pd.DataFrame.from_dict(list_335to360)
df_335_615k.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,None,None,0,[],None,335001,,en,HOH,,0.600,/wv9xhOfB9WHiiFCDxoiYAEm90Cy.jpg,[],[],2014-11-15,0,180.0,[],Released,,HOH,False,0.0,0
1,False,/few5N131MmjNkQDnZ7jSG1AOxRb.jpg,None,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",None,335003,tt4177498,en,A Room to Die For,When a broke young couple rent a room in an el...,0.729,/7MSPDL6HbbTcQ7hf7zC5f51zvG6.jpg,"[{'id': 85724, 'logo_path': None, 'name': 'Swi...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-01-16,0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Enjoy your stay,A Room to Die For,False,5.7,3
2,False,None,None,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",http://thrillingadventurehour.com,335004,tt4548442,en,The Thrilling Adventure Hour Live,A concert film designed to bring the live Thri...,0.979,/idwLpR58NeK3CyvZT2UHhvqD3lE.jpg,"[{'id': 21207, 'logo_path': '/bhgVefS8V22TxYn9...",[],2015-03-01,0,113.0,[],Released,,The Thrilling Adventure Hour Live,False,9.0,1
3,False,/nOuif4jU9EX9tOeXc6Zwurl39BE.jpg,None,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 37, '...",None,335005,tt0041413,en,Ghost of Zorro,Although ostensibly the grand-son of the legen...,0.627,/wigidYrQXpDoW7cVuEARhEYvcQl.jpg,"[{'id': 1432, 'logo_path': '/8AcaWEWQ8MFUBGlt9...","[{'iso_3166_1': 'US', 'name': 'United States o...",1949-03-24,0,167.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NEVER SUCH COURAGE NEVER SUCH DARING NEVER SUC...,Ghost of Zorro,False,0.0,0
4,False,None,None,0,[],None,335006,tt2444458,en,Vseki ima svoya izbor,This short film is about two life styles - the...,0.600,None,"[{'id': 50219, 'logo_path': None, 'name': 'Cla...","[{'iso_3166_1': 'BG', 'name': 'Bulgaria'}]",2012-06-26,0,3.0,[],Released,,Vseki ima svoya izbor,False,0.0,0

In [31]:
df_335_615k.to_csv('615k.csv')

In [37]:
df_335 = pd.read_csv('335k.csv', lineterminator='\n')

In [39]:
df_335.drop('Unnamed: 0', inplace=True,axis=1)

In [40]:
df_335.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/z2QUexmccqrvw1kDMw3R8TxAh5E.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.663,/w0NzAc4Lv6euPtPAmsdEf0ZCF8C.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1988-10-21,0,73.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Ariel,False,7.0,74
1,False,/6YjUX87VtIEuDzanBE6obVxE9V3.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",5.779,/7ad4iku8cYBuB08g9yAU7tHJik5.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1986-10-17,0,72.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Shadows in Paradise,False,7.5,90
2,False,/3EqYpbGCE9S5GddU2K4cYzP5UmI.jpg,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,13.250,/eQs5hh9rxrk1m4xHsIz1w11Ngqb.jpg,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-09,4300000,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.1,1211
3,False,/eXKgVIjLCFNpQkjVg1VpA8yM2GA.jpg,NaN,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,6,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",11.510,/lNXmgUrP6h1nD53gkFh4WDzT6RZ.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",1993-10-15,12136938,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.6,120
4,False,/udvB86uyzJ6P9vmB83WfrCbnmnI.jpg,NaN,42000,"[{'id': 99, 'name': 'Documentary'}]",http://www.lifeinloops.com,8,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.422,/8YyIjOAxwzD3fZMdmJrfiApod4l.jpg,"[{'id': 19123, 'logo_path': None, 'name': 'inL...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",2006-01-01,0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.4,7

In [41]:
full = pd.concat([df_335, df_335_615k])
full.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,/z2QUexmccqrvw1kDMw3R8TxAh5E.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,6.663,/w0NzAc4Lv6euPtPAmsdEf0ZCF8C.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1988-10-21,0,73.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Ariel,False,7.0,74
1,False,/6YjUX87VtIEuDzanBE6obVxE9V3.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",5.779,/7ad4iku8cYBuB08g9yAU7tHJik5.jpg,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1986-10-17,0,72.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Shadows in Paradise,False,7.5,90
2,False,/3EqYpbGCE9S5GddU2K4cYzP5UmI.jpg,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,13.250,/eQs5hh9rxrk1m4xHsIz1w11Ngqb.jpg,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-09,4300000,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.1,1211
3,False,/eXKgVIjLCFNpQkjVg1VpA8yM2GA.jpg,NaN,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,6,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",11.510,/lNXmgUrP6h1nD53gkFh4WDzT6RZ.jpg,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",1993-10-15,12136938,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.6,120
4,False,/udvB86uyzJ6P9vmB83WfrCbnmnI.jpg,NaN,42000,"[{'id': 99, 'name': 'Documentary'}]",http://www.lifeinloops.com,8,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,1.422,/8YyIjOAxwzD3fZMdmJrfiApod4l.jpg,"[{'id': 19123, 'logo_path': None, 'name': 'inL...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",2006-01-01,0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.4,7

In [43]:
full.video.value_counts()

False    446713
True      22577
Name: video, dtype: int64

In [44]:
full.adult.value_counts()

False    444764
True      24526
Name: adult, dtype: int64

In [45]:
full.drop(['backdrop_path', 'belongs_to_collection', 'homepage', 'poster_path', 'status','video'],inplace=True,axis=1)

In [47]:
full = full.loc[full.adult != True]
full.adult.value_counts()

False    444764
Name: adult, dtype: int64

In [48]:
full.drop('adult',inplace=True,axis=1)

In [49]:
full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444764 entries, 0 to 247340
Data columns (total 18 columns):
budget                  444764 non-null int64
genres                  444764 non-null object
id                      444764 non-null int64
imdb_id                 342547 non-null object
original_language       444764 non-null object
original_title          444763 non-null object
overview                421530 non-null object
popularity              444764 non-null float64
production_companies    444764 non-null object
production_countries    444764 non-null object
release_date            436314 non-null object
revenue                 444764 non-null int64
runtime                 318782 non-null float64
spoken_languages        444764 non-null object
tagline                 271775 non-null object
title                   444763 non-null object
vote_average            444764 non-null float64
vote_count              444764 non-null int64
dtypes: float64(3), int64(4), object(11)
memory usage: 64.5+ MB

In [56]:
full[full['vote_count'] > 10].count()

budget                  36862
genres                  36862
id                      36862
imdb_id                 36771
original_language       36862
original_title          36862
overview                36326
popularity              36862
production_companies    36862
production_countries    36862
release_date            36859
revenue                 36862
runtime                 35828
spoken_languages        36862
tagline                 21912
title                   36862
vote_average            36862
vote_count              36862
dtype: int64

In [54]:
full['genres'].head(50)

0     [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
1     [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
2     [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
3     [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
4                   [{'id': 99, 'name': 'Documentary'}]
5                         [{'id': 18, 'name': 'Drama'}]
6     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
7     [{'id': 16, 'name': 'Animation'}, {'id': 10751...
8     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
9                         [{'id': 18, 'name': 'Drama'}]
10    [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
11    [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
12    [{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...
13    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
14    [{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...
15    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
16                  [{'id': 99, 'name': 'Documentary'}]
17    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
18    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
19    [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
20                        [{'id': 18, 'name': 'Drama'}]
21    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
22    [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
23    [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
24    [{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...
25    [{'id': 16, 'name': 'Animation'}, {'id': 36, '...
26                      [{'id': 37, 'name': 'Western'}]
27    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
28    [{'id': 878, 'name': 'Science Fiction'}, {'id'...
29    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
30    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
31    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
32    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
33    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
34    [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
35    [{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...
36    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
37                        [{'id': 18, 'name': 'Drama'}]
38    [{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...
39                        [{'id': 18, 'name': 'Drama'}]
40    [{'id': 12, 'name': 'Adventure'}, {'id': 53, '...
41    [{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...
42    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
43    [{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...
44    [{'id': 878, 'name': 'Science Fiction'}, {'id'...
45    [{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...
46    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
47    [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
48    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
49    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
Name: genres, dtype: object

In [ ]:
def omdb_getter(start,stop):
    movie_list = []
    for movie in tqdm(range(start,stop)):
        r = requests.get('https://api.themoviedb.org/3/movie/' + str(movie) + '?api_key=609bfa19cbc6d10450102037baa49767')
        if r.status_code == 200:
            info = r.json()
            movie_list.append(info)
        elif r.status_code == 429:
            print('Connection broken - wait')
            time.sleep(10)
            continue
        else:
            continue
        
    return movie_list